{
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
  },
  "globals": {
    "exampleGlobalVariable": true,
  },
  "rules": {
    "consistent-return": "off",
    "no-console": "off",
    "space-infix-ops": "error",
    "semi": "off",
    "quotes": [
      "error",
      "double",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true,
      },
    ],
    "space-before-blocks": ["error", "always"],
    "class-methods-use-this": "off",
  },
  "plugins": [],
  "parserOptions": {
    "ecmaVersion": "latest",
  },
}
