{
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "globals": {
    "exampleGlobalVariable": true
  },
  "rules": {
    "no-console": 0,
    "space-infix-ops": "error",
    "semi": "off",
    "quotes": [
      "error",
      "double",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "space-before-blocks": ["error", "always"]
  },
  "plugins": [],
  "parserOptions": {
    "ecmaVersion": "latest"
  }
}
